{% extends 'base.html' %}

{% block content %}
<div>
  <h1>Halo, apa kegiatanmu hari ini?</h1>
  <form action="{% url 'greetings:index' %}" method="POST">
    <table>
      <tbody>
        {% csrf_token %}
        {{ form }}
        <tr>
          <td>
            <button type="submit">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div>
  <h2>Jawaban</h2>
  {% for answers in all_answers %}
  <div style="margin: 1rem 0">
    <div class="date" style="color: grey">{{ answers.waktu_dibuat }}</div>
    <div class="text" style="font-size: 1.5rem">{{ answers.answers }}</div>
  </div>
  {% endfor %}
</div>
{% endblock %}
